body div {
    width: 90%;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    border-radius: 8px;
    margin: 10px 50px;
    padding: 10px;
}

body div p {
    font-weight: normal;
}

#email {
    background-color: rgb(157, 206, 157);
    width: 200px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    border-color: rgb(157, 206, 157);
    border-radius: 5px;
    color: black;
}

#email:hover {
    background-color: rgb(15, 113, 15);
    cursor: pointer;
    border-bottom: 2px solid #F9FAFA;
    color: white;
}