/* ESTILO DO MENU */

body {
    background-color: #ccc;
}

body h2 {
    font-size: 30pt;
    margin-bottom: 0px;
}

#menu {
    margin-bottom: 1px;
    text-align: center;
}

nav {
    border-bottom: 20px solid rgb(157, 206, 157, 0.4);
}

body nav a {
    text-decoration: none;
    color: white;
}

#menu a {
    text-decoration: none;
    font-size: 22pt;
}

body h2 {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    background-color: rgb(15, 113, 15);
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 8px;
    height: 40px;
    width: 150px;
}

#menu ul li a:hover {
    cursor: pointer;
    border-bottom: 2px solid #F9FAFA;
    color: black;
}


/* ESTILO TABELAS */

table {
    margin: 10px 10px;
}

table tr input {
    height: 40px;
    width: 200px;
    border-radius: 3px;
    border-style: none;
    margin: 2px;
}

table th {
    font-size: 20pt;
}


/* ESTILO DO RODAPÉ */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    background-color: rgb(157, 206, 157, 0.4);
    padding: 10px;
    margin: 10px 50px;
    font-size: 18pt;
    font-weight: normal;
}

footer img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}