#contIndex {
    background-color: rgba(241, 250, 248, 0.4);
    padding: 20px;
    border-radius: 3px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    height: 400px;
    margin: 20px 40px;
    text-align: justify;
}

#contIndex h3 {
    text-align: center;
    font-size: 20pt;
}

#contIndex p {
    text-align: justify;
    font-size: 18pt;
}

#contIndex img {
    width: 400px;
    border-radius: 3px;
    margin: 10px;
    display: block;
    margin: auto;
}